{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'task_app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'task_app/css/style.css' %}">
	<title>{% block title %}Task Manager{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="{% url 'task:home' %}">Task manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#manager_task_btn">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="manager_task_btn">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'task:home' %}">Dashboard</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="task_maganger" role="button" data-toggle="dropdown">
						Tasks
					</a>
					<div class="dropdown-menu" aria-labelledby="task_maganger">
						<a class="dropdown-item" href="{% url 'task:create-task' %}">Create new task</a>
						<a class="dropdown-item" href="{% url 'task:home' %}">List Tasks</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="d-flex align-items-center text-white p-3 my-3 bg-purple rounded shadow-sm">
			<img class="mr-3" src="{% static 'task_app/img/task-manager-icon.jpg' %}" alt="task manager" width="48" height="48">
			<div class="lh-100">
				<h6 class="mb-0 text-white lh-100">Task Manager</h6>
				<small>Created in 2021</small>
			</div>
		</div>
	</div>
	{% block content %}{% endblock %}
	<!-- Optional JavaScript; choose one of the two! -->
	<script src="{% static 'task_app/js/jquery-3.5.1.slim.min.js' %}"></script>
	<script src="{% static 'task_app/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>