* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
 background: rgb(158,124,255);
background: linear-gradient(180deg, rgba(158,124,255,1) 0%, rgba(0,212,255,1) 100%); 
}

#section-main {
	width: 100%;
	margin: 15% auto; 
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 5px -1px rgba(0, 0, 0, .8);
	border-radius: 10px;
}

.errorlist {
	width: 100%;
	list-style: none;
	background-color: #fd8b8b;
	border-radius: 5px;
	padding: 10px;
	color: #000;
	font-weight: bold;
	border: 1px solid #d74242;
}