{% extends 'shared/layout.html' %}
{% load static %}
{% block title %}Task Manager Panel{% endblock %}
{% block content %}
<main class="container">
	<div class="my-3 p-3 bg-white rounded shadow-sm">
		<h3 class="border-bottom border-gray pb-2 mb-0">Delete Task</h3>
		
		<form class="mt-3" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<p>Are you sure you want to delete "{{ object }}"?</p>
			<button type="submit" class="btn btn-danger">Delete task confirm</button>
		</form>
	</div>
</main>
{% endblock %}